<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Website Layout</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
  background-color: dimgrey;
  padding: 20px;
  text-align: left;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: darkblue;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
</style>
</head>
<body>

<div class="header">
 <h1 style="color:white;">5280 Landmarks</h1>
</div>

<div class="topnav">
  <a href="#">Building</a>
  <a href="#">Art</a>
  <a href="#">Featured</a>
</div>

<img src="https://github.com/turingschool-examples/static_challenges/blob/master/images/GrandeSteffani_DenverArtMuseum_SteffaniGrande-7674.jpg?raw=true" alt="Denver Art Museum" width="1000" height="600">


</body>
</html>
